.icon-agentwork {
    background: url('../icon/agentwork.gif') no-repeat;
}

.icon-blank {
    background: url('../icon/blank.gif') no-repeat;
}

.icon-kjcd {
    background: url('../icon/kjcd.gif') no-repeat;
}

.icon-thumbnails {
    background: url('../icon/thumbnails.png') no-repeat;
}

.icon-ywgg {
    background: url('../icon/ywgg.gif') no-repeat;
}

.icon-xxgg {
    background: url('../icon/xxgg.gif') no-repeat;
}

.icon-add {
    background: url('../icon/edit_add.png') no-repeat;
}

.icon-edit {
    background: url('../icon/pencil.png') no-repeat;
}

.icon-remove {
    background: url('../icon/edit_remove.png') no-repeat;
}

.icon-save {
    background: url('../icon/filesave.png') no-repeat;
}

.icon-cut {
    background: url('../icon/cut.png') no-repeat;
}

.icon-ok {
    background: url('../icon/ok.png') no-repeat;
}

.icon-no {
    background: url('../icon/no.png') no-repeat;
}

.icon-cancel {
    background: url('../icon/cancel.png') no-repeat;
}

.icon-reload {
    background: url('../icon/reload.png') no-repeat !important;
}

.icon-search {
    background: url('../icon/search.png') no-repeat !important;
}

.icon-excel {
    background: url('../icon/excel.png') no-repeat !important;
}

.icon-print {
    background: url('../icon/print.png') no-repeat;
}

.icon-help {
    background: url('../icon/help.png') no-repeat;
}

.icon-help1 {
    background: url('../icon/help1.png') no-repeat;
}

.icon-undo {
    background: url('../icon/undo.png') no-repeat;
}

.icon-redo {
    background: url('../icon/redo.png') no-repeat;
}

.icon-back {
    background: url('../icon/back.png') no-repeat;
}

.icon-sum {
    background: url('../icon/sum.png') no-repeat;
}

.icon-tip {
    background: url('../icon/tip.png') no-repeat;
}

.icon-afterPaper {
    background: url('../icon/afterPaper.gif') no-repeat;
}

.icon-announce {
    background: url('../icon/announce.png') no-repeat;
}

.icon-batchOperate {
    background: url('../icon/batchOperate.png') no-repeat;
}

.icon-beforePaper {
    background: url('../icon/beforePaper.gif') no-repeat;
}

.icon-cancelSelect {
    background: url('../icon/cancelSelect.png') no-repeat;
}

.icon-clockwise {
    background: url('../icon/clockwise.png') no-repeat;
}

.icon-coulumTables {
    background: url('../icon/coulumTables.png') no-repeat;
}

.icon-enlarge {
    background: url('../icon/enlarge.png') no-repeat;
}

.icon-exit {
    background: url('../icon/exit.png') no-repeat;
}

.icon-originalPhoto {
    background: url('../icon/originalPhoto.png') no-repeat;
}

.icon-param {
    background: url('../icon/param.png') no-repeat;
}

.icon-photograph {
    background: url('../icon/photograph1.gif') no-repeat;
}

.icon-preview {
    background: url('../icon/preview.png') no-repeat;
}

.icon-reduce {
    background: url('../icon/reduce.png') no-repeat;
}

.icon-reverse {
    background: url('../icon/reverse.png') no-repeat;
}

.icon-select {
    background: url('../icon/select.png') no-repeat;
}

.icon-start {
    background: url('../icon/start.png') no-repeat;
}

.icon-stop {
    background: url('../icon/stop.png') no-repeat;
}

.icon-upload {
    background: url('../icon/upload.png') no-repeat;
}

.icon-checkall1 {
    background: url('../icon/checkmark.png') no-repeat;
}

.icon-checkall2 {
    background: url('../icon/checkmark1.png') no-repeat;
}

.icon-export {
    background: url('../icon/export.png') no-repeat;
}

.icon-zzt {
    background: url('../icon/zzt.png') no-repeat;
}

.icon-bzt {
    background: url('../icon/bzt.jpg') no-repeat;
}

.icon-tj {
    background: url('../icon/tj.jpg') no-repeat;
}

.icon-roottree {
    background: url('../icon/roottree.gif') no-repeat;
}

.icon-nodetree {
    background: url('../icon/nodetree.gif') no-repeat;
}

.icon-download {
    background: url('../icon/download.png') no-repeat;
}

.icon-mini-add {
    background: url('../icon/mini_add.png') no-repeat 2px 2px;
}

.icon-mini-edit {
    background: url('../icon/mini_edit.png') no-repeat 2px 2px;
}

.icon-mini-refresh {
    background: url('../icon/mini_refresh.png') no-repeat 3px 2px;
}